.monster {
  background:url(monster.png);
  background-repeat:no-repeat;
  height: 32px;
  width: 32px;
  vertical-align: text-top;
  position: absolute;
  background-position: 0px -32px;
}

@keyframes move {
    0% { background-position: 0px -32px}
    33.3%{ background-position: 0px 0px;}
    66.7% {background-position: -32px 0px;}
    100% {background-position: 0px -32px}
}

@keyframes death-monster {
    0% { background-position: -32px -96px;}
    20%{ background-position: -32px -64px;}
    40% {background-position: 0px -96px;}
    60% {background-position: 0px -64px;}
    80% {background-position: -32px -32px;}
    100% {background-position: -32px -128px;}
}
