.bomb {
  background:url(bomb.png);
  background-repeat:no-repeat;
  height: 32px;
  width: 32px;
  vertical-align: text-top;
  position: absolute;
  background-position: -32px -64px;
}

@keyframes ready {
    0% { background-position: -64px 0px;}
    33.3%{ background-position: 0px -64px;}
    66.7% {background-position: -32px -64px;}
    100% {background-position: -64px 0px;}
}

@keyframes blow-up {
    0% { background-position: -64px 0px;}
    25%{ background-position: 0px -64px;}
    50% {background-position: -32px -64px;}
    75% {background-position: -32px -64px;}
    100% {background-position: -64px 0px;}
}
